* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(143, 228, 143);
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 5px;
    text-align: center;
    padding: 20px 40px;
    .form {
        .btn {
            width: 100%;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            outline: none;
            border: none;
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.5s;
        }
        // .btn:hover {
        //     opacity: 0.9;
        // }
        .header {
            h3 {
                margin-bottom: 10px;
            }
            .edit-account {
                width: 100%;
                outline: none;
                padding: 10px;
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                margin-bottom: 15px;
                border: 1px solid rgb(165, 151, 151);
            }
            .btn-login {
                background: rgb(56, 111, 230);
                margin-bottom: 10px;
            }
        }
    }
}