<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="footer">
        <div class="container">
            <button class="subscribe">
                <span>subscribe</span>
            </button>
            <div class="clearfix list-item">
                <div class="col col-6">
                    <div class="content">
                        <h3 class="heading">your account</h3>
                        <ul class="menu menu-item-footer">
                            <li><a href="">Running Shoes</a></li>
                            <li><a href="">Football Shoes</a></li>
                            <li><a href="">Basketball Shoes</a></li>
                            <li><a href="">Volleyball Shoes</a></li>
                            <li><a href="">Trainee Shoes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-6">
                    <div class="content">
                        <h3 class="heading">information</h3>
                        <ul class="menu menu-item-footer">
                            <li><a href="">Returns</a></li>
                            <li><a href="">F.A.Q</a></li>
                            <li><a href="">Shipping Policy</a></li>
                            <li><a href="">Search Terms</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-6">
                    <div class="content">
                        <h3 class="heading">quick links</h3>
                        <ul class="menu menu-item-footer">
                            <li><a href="">My orders</a></li>
                            <li><a href="">My credit slips</a></li>
                            <li><a href="">Beauty</a></li>
                            <li><a href="">My addresses</a></li>
                            <li><a href="">My personal info</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-6">
                    <div class="content">
                        <h3 class="heading">footer links</h3>
                        <ul class="menu menu-item-footer">
                            <li><a href="">Search</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Typo</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-6">
                    <div class="content">
                        <h3 class="heading">service</h3>
                        <ul class="menu menu-item-footer">
                            <li><a href="">Search</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Typo</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-6">
                    <div class="content">
                        <h3 class="heading">happy hours</h3>
                        <div class="info-open menu-item-footer">
                            <p>Monday - Friday</p>
                            <p>8a.m - 10 p.m</p>
                            <p>Saturday & Sunday</p>
                            <p>10a.m - 8 p.m</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-info-link">
                <ul class="menu menu-link">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="" class="wifi"><i class="fas fa-wifi"></i></a></li>
                    <li><a href=""><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="copyright">
                <span>Ap shoes store © Copyright 2019. Powered by Shopify</span>
            </div>
            <!-- Scroll to Top -->
            <div class="back-to-top">
                <button class="btn-to-top" id="up-top"><i class="fa fa-chevron-up"></i></button>
            </div>
        </div>
    </div>
</body>

</html>