<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="clearfix">
                <div class="col col-2 logo">
                    <img src="../image/header/logo.png" alt="">
                </div>
                <div class="col col-60 menu menu-header">
                    <ul>
                        <li><a href="">Home <i class="fas fa-caret-down"></i></a></li>
                        <li><a href="">Categories <i class="fas fa-caret-down"></i></a></li>
                        <li><a href="">Product <i class="fas fa-caret-down"></i></a></li>
                        <li><a href="">short code <i class="fas fa-caret-down"></i></a></li>
                        <li><a href="">blog <i class="fas fa-caret-down"></i></a></li>
                    </ul>
                </div>
                <div class="col col-2 group-login">
                    <button class="item btn-search">
                        <i class="fas fa-search"></i>
                       
                    </button>
                    <a href="" class="item login">
                        <i class="fas fa-user"></i>
                    </a>
                    <a href="" class="item cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>